<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 5px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <form method = "post" action = "/users">

        <input type = "text" name = "username" placeholder="Enter a name">
        <br>
        <input type = "email" name = "email" placeholder="Enter an email">
        <br>
        <input type = "password" name = "password" placeholder="Enter your password">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>